.borderGreen {
    border: 2px solid green;
}

.borderRed {
    border: 2px solid red;
}

form {
    padding-top: 2rem;
}

form input {
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 10vh;
    border-radius: 20px;
    padding-left: 10px;
}

#mdp {
    width: 50%;
}

#mdp2 {
    width: 50%;
}

#buttonSubmit {
    width: 30%;
    background-color: purple;
    border: 2px solid;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    white-space: normal;
}