form.filtrage {
    display: flex;
    justify-content: center;
}

form.filtrage>* {
    margin-left: 10px;
}

.vignette {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.vignette img {
    width: 300px;
    height: 300px;
    margin-left: 1rem;
    margin-right: 1rem;
}


.descriptif {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: #F2F2F2;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 80%;
}

.descriptif button {
    background-color: purple;
    width: 25%;
    height: 2rem;
    border-radius: 20px;
    white-space: normal;
}

.descriptif button a {
    color: #F2F2F2;
}


.disposition {
    display: flex;
    justify-content: space-around;
    align-items: center;
}