header {
    background-color: purple;
}

/* Masquer le menu par défaut */
#menuConnexion {
    display: none;
}

/* Styles pour l'icône du menu */
#menu-icon {
    cursor: pointer;
    color: #F1E2E2;
}

/* Styles pour le menu défilant */
#menuConnexion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#menuConnexion li {
    margin: 10px 0;
}

#menuConnexion a {
    text-decoration: none;
    color: #F1E2E2;
}

.contenant {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


header ul {
    display: flex;
    width: 90%;
    list-style-type: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

header li a {
    color: #F1E2E2;
    font-size: 2rem;
}

a:hover {
    color: white;
}

#menuConnexion a:hover {
    color: white;
}

#menu-icon:hover {
    color: white;
}