h1 {
    text-align: center;
    padding-top: 2rem;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

form {
    width: 40%;
}

form div :last-child {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none !important;
}