* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    font-size: 1em;

}

* a {
    text-decoration: none;
}

body {
    background-color: #282323;
    text-align: center;
}

main {
    background-color: #FFFFFF;
}

.notice {
    padding-top: 2rem;
}

#container {
    margin: auto;
    width: 80%;
    background-color: #FFFFFF;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

form.filtrage {
    display: flex;
    justify-content: center;
}

form.filtrage>* {
    margin-left: 10px;
}

.vignette {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.vignette img {
    width: 300px;
    height: 300px;
    margin-left: 1rem;
    margin-right: 1rem;
}


.descriptif {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: #F2F2F2;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 80%;
}

.descriptif button {
    background-color: purple;
    width: 25%;
    height: 2rem;
    border-radius: 20px;
    white-space: normal;
}

.descriptif button a {
    color: #F2F2F2;
}


.disposition {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .vignette {
        flex-wrap: wrap;
        justify-content: center;
    }

    .vignette .descriptif {
        text-align: center;
        padding-top: 1rem;
        margin-top: 1rem;
    }

    .vignette .disposition {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .descriptif button {
        height: 2.5rem;
        width: 30%;
    }

}